* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden; 
}


[data-aos="fade-up"] {
  transform: translate3d(0, 0, 0); 
  will-change: transform, opacity;
}

[data-aos="fade-up"].aos-animate {
  transform: translate3d(0, 0, 0);
}
